<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Keavy González | Estudiante ESEN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="https://kit.fontawesome.com/836a943e18.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.ico" />
</head>

<body>

  <header>
    <div class="container">
      <nav>
        <div class="nav-brand">
          <a href="index.html">
            <img src="/static/images/logo.png" alt="Keavy" />
          </a>
        </div>
        <div class="burger-menu-icon">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#landing-page">
              <img src="/static/images/keavy.jpg" alt="Keavy González" class="profile-pic nav-link" />
              <span class="caption nav-link">Keavy González</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#about" class="nav-link">Sobre mí</a>
          </li>
          <li class="nav-item">
            <a href="#services" class="nav-link">Services</a>
          </li>
          <li class="nav-item">
            <a href="#knowledge" class="nav-link">Conocimientos</a>
          </li>
          <li class="nav-item">
            <a href="#contact" class="nav-link">Contacto</a>
          </li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/keavy-isabel-gonz%C3%A1lez-atencio-77715819b/" target="_blank" class="nav-link">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://twitter.com/keavy_isabel" target="_blank" class="nav-link">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <div class="cta">
            <a href="https://wa.me/50766226784" target="_blank" class="btn nav-link">Mensaje Directo</a>
          </div>
        </ul>
      </nav>
    </div>
  </header>

  <main>

    <section id="landing-page" class="landing-page">
      <div class="container">
        <div class="main-message">
          <h2>Keavy González</h2>
          <h3>Estudiante de Ingeniería de Negocios</h3>
          <p>Dedicada . Responsable . Proactiva</p>
          <div class="intro-btn">
            <div class="cta">
              <a href="#contact" class="btn">Contáctame</a>
            </div>
            <div class="cta">
              <a href="#knowledge" class="btn">Mis Conocimientos</a>
            </div>
          </div>
          <div>
            <a href="#about" class="scroll-down">
              <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </section>


    <section id="about" class="about">
      <div class="container">
        <div class="about-img">
          <img src="/static/images/keavy.jpg" alt="Keavy Gonzalez" class="about-pic" />
        </div>
        <div class="about-text-box">
          <h2>EMPECEMOS POR CONOCERNOS</h2>
          <p>
            Soy una estudiante de Ingeniería de Negocios en la Escuela Superior de Economía y Negocios.
            Busco una pasantía que complemente lo que he adquirido de conocimiento, a medida que gano experiencia laboral.
          </p>
          <p> Me interesan los campos de logística y operaciones, pero estoy abierta a cualquier área de trabajo con tal de aprender.
          </p>

        </div>
      </div>
      <hr />
    </section>

    <section id="services" class="services">
      <div class="container">
        <div class="title-heading">
          <h2>¿POR QUÉ CONTRATARME?</h2>
          <p>
           Aprendo rápido y me adapto fácil a cambios.
          </p>
          <p>
            Soy proactiva, dedicada y responsable.
          </p>
          <p>
            Me motiva la solución de problemas y la toma de decisiones.
          </p>
        </div>
        <div class="service-tiers">
          <div class="tier-item">
            <i class="fa fa-level-up-alt" aria-hidden="true"></i>
            <h2>Proactividad y liderazgo</h2>
            <p>
             He adquirido conocimiento sobre trabajo en equipo, liderazgo, inteligencia emocional,
             proactividad por 5 años ya que he tomado diferentes clases que se enfocan en el bienestar personal y de mi entorno.
            </p>
          </div>
          <div class="tier-item">
            <i class="fa fa-bullseye-arrow" aria-hidden="true"></i>
            <h2>Retos</h2>
            <p>
              Soy una persona que se reta día a día. Por esto me llama tanto la atención buscar soluciones a nivel empresarial.
            </p>
          </div>
        </div>
      </div>
      <hr />
    </section>

    <section id="projects" class="projects">
      <div class="title-heading">
        <h2>CONOCIMIENTOS</h2>
        <p>Estas son algunas áreas que manejo</p>
      </div>
      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/python.png" />
        </div>
        <div class="project-description">
          <h2>Python</h2>
          <p>
            Llevé una materia enfocada a la programación con lenguaje Python. Con esta base, creé una aplicación de consola,
            junto a unos compañeros, inspirada en Airbnb. La misma incluía bases de datos y diferentes opciones para reservar
            hospedajes alrededor del mundo.
          </p>
          <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>

      <div class="project-item">
        <div class="project-description has-margin-right">
          <h2>Bases de datos</h2>
          <p>
            Tengo conocimientos sobre base de datos gracias a dos materias impartidas en la ESEN. Manejo SQL Server y MySQL.
          </p>
          <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
        <div class="project-img">
          <img src="/static/images/sql.png" />
        </div>
      </div>

      <div class="project-item">
        <div class="project-img has-margin-right">
          <img src="/static/images/vba.png" />
        </div>
        <div class="project-description">
          <h2>EXCEL VBA</h2>
          <p>
            He dedicado dos años de estudio a Microsoft Excel, además de haber cursado VBA un ciclo en la Universidad.
            Es una herramienta con que trabajo rápida y eficazmente porque familiarizo muy bien con la misma. 
          </p>
          <a href="#" class="project-link" target="_blank"><i class="fa fa-github" aria-hidden="true"> View Code</i></a>
        </div>
      </div>
      <hr />
    </section>


    <section id="contact" class="contact">
      <h2>CONTÁCTAME</h2>
      <p>
        Te dejo mis redes para que me puedas encontrar si te interesa que trabaje en tu empresa.
      </p>

      <div class="container">
        <p>
          <a href="mailto:keavy.gonzalez@gmail.com"><i class="fas fa-envelope-open"></i> keavy.gonzalez@gmail.com</a>
        </p>
        <p>
          <a href="https://www.linkedin.com/in/keavy-isabel-gonz%C3%A1lez-atencio-77715819b/" target="_blank"><i class="fab fa-linkedin"> LinkedIn</i></a>
        </p>
        <p>
          <a href="https://twitter.com/keavy_isabel" target="_blank"><i class="fab fa-twitter"> Twitter</i></a>
        </p>
      </div>
      <hr />
    </section>

    <footer>
      <div class="footer-nav">
        <a href="#landing-page" class="footer-nav-link">Home</a>
        <a href="#about" class="footer-nav-link">Sobre mí</a>
        <a href="#services" class="footer-nav-link">Services</a>
        <a href="knowledge" class="footer-nav-link">Conocimientos</a>
        <a href="#contact" class="footer-nav-link">Contacto</a>
      </div>
      <div class="footer-coded-by">
        <p>
          <i class="fas fa-code"></i> with 💙 by Keavy Gonzalez &copy; 2021
        </p>
        <p>Hecho con puro HTML, CSS y JavaScript</p>
      </div>
      <div class="footer-social">
        <a href="https://www.linkedin.com/in/keavy-isabel-gonz%C3%A1lez-atencio-77715819b/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://twitter.com/keavy_isabel" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </footer>

  </main>

  <script src="/static/main.js"></script>
</body>

</html>